.bw-back {
    // Positioning
    position: fixed;
    z-index: -1;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: $desktop-menu-size;

    // Styling
    background-color: $back-color;
    border-color: $white-color;
    color: $white-color;

    // Align text
    text-align: right;

    @include on-max {
        width: $desktop-menu-size-x;
    };
    @include on-mobile {
        top: 0%;
        left: 0%;
        bottom: 0%;
        right: 0%;
        width: 100%;
    };

    // Container
    .bw-back-container {
        // Positioning
        position: absolute;
        top: 50%;
        left: 0%;
        right: 0%;
        transform: translateY(-50%);

        // Text align
        padding: $spacing-unit;
        text-align: right;
        @include on-mobile {
            padding: 0pt 2*$spacing-unit;
        }
    }

    // Title
    .bw-title {
        display: block;
        padding-bottom: 2pt;
        text-decoration: none;
        border-bottom: 1px solid;
        font-size: $mega-font-size;
        @include on-mobile {
            font-size: $mega-font-size-m;
        };
    }

    // Links
    .bw-links {
        li {
            margin: 8pt 0pt;
            @include on-mobile {
                margin: 16pt 0pt;
            };

            list-style: none;
            &:before {
                padding: 0;
                content: none;
            }
            > a {
                text-decoration: none;
                &:hover {
                    border-bottom: 1px solid;
                }
                font-size: $normal-font-size;
                @include on-mobile {
                    font-size: $medium-font-size-m;
                };
            }
        }
        > li.bw-dropdown {
            > .bw-dropdown-link::before {
                content:'';
                position: absolute;
                transform: translate(-$spacing-unit, 50%);
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid $white-color;
            }
            > .bw-dropdown-link.active::before {
                transform: translate(-$spacing-unit*1.25, 75%);
                border-top: 5px solid $white-color;
                border-right: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid transparent;
            }
            > .bw-dropdown-list {
                display: none;
                list-style: none;
            }
        }
    }

    // Backwhite footer
    .bw-footer {
        color: darken($white-color, 25%);
        text-align: justify;
        font-size: $small-font-size;
        @include on-mobile {
            font-size: $small-font-size-m;
        };
        p {
            text-align: justify;
        }
    }
}
