.bw-back {
    // Positioning
    position: fixed;

    /* This tells css to ensure that this
     * layer is in the back, regardless of
     * how it's included in the document.
     * It is exactly what it says, the
     * z-axis position of the element */
    z-index: -1;

    /* Back panel sizing. Fill vertically from
     * top to bottom. Horizontally, start at
     * left, be $desktop-menu-size wide*/
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: $desktop-menu-size;

    // Styling
    background-color: $back-color;
    border-color: $white-color;
    color: $white-color;

    // Align text
    text-align: right;

    // Resize on max
    @include on-max {
        width: $desktop-menu-size-x;
    };

    // Fill entire screen on mobile
    @include on-mobile {
        top: 0%;
        left: 0%;
        bottom: 0%;
        right: 0%;
        width: 100%;
    };

    // Container
    .bw-back-container {
        // Positioning
        position: absolute;
        top: 50%;
        left: 0%;
        right: 0%;
        transform: translateY(-50%);

        // Text align
        text-align: right;

        // Padding
        padding: $spacing-unit;
        @include on-mobile {
            padding: 0pt 2*$spacing-unit;
        }
    }

    // Title
    .bw-title {
        display: block;
        padding-bottom: 2pt;
        text-decoration: none;
        border-bottom: 1px solid;
        font-size: $mega-font-size;
        @include on-mobile {
            font-size: $mega-font-size-m;
        };
    }

    // Links
    .bw-links {
        a {
            text-decoration: none;
            &:hover {
                border-bottom: 1px solid;
            }
        }
    }

    // Backwhite footer
    .bw-footer {
        color: darken($white-color, 25%);
        text-align: justify;
        font-size: $small-font-size;
        @include on-mobile {
            font-size: $small-font-size-m;
        };
        p {
            text-align: justify;
        }
    }
}
