.bw-back {
    // Positioning
    position: fixed;

    /* This tells css to ensure that this
     * layer is in the back, regardless of
     * how it's included in the document.
     * It is exactly what it says, the
     * z-axis position of the element */
    z-index: -1;

    /* Back panel sizing. Fill vertically from
     * top to bottom. Horizontally, start at
     * left, be $desktop-menu-size wide*/
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: $desktop-menu-size;

    // Styling
    background-color: $back-color;
    border-color: $white-color;
    color: $white-color;

    // Align text
    text-align: right;

    // Resize on max
    @include on-max {
        width: $desktop-menu-size-x;
    };

    // Fill entire screen on mobile
    @include on-mobile {
        top: 0%;
        left: 0%;
        bottom: 0%;
        right: 0%;
        width: 100%;
    };

    // Container
    .bw-back-container {
        // Positioning
        position: absolute;
        top: 50%;
        left: 0%;
        right: 0%;
        transform: translateY(-50%);

        // Text align
        text-align: right;

        // Padding
        padding: $spacing-unit;
        @include on-mobile {
            padding: 0pt 2*$spacing-unit;
        }
    }

    // Title
    .bw-title {
        display: block;
        padding-bottom: 2pt;
        text-decoration: none;
        border-bottom: 1px solid;
        font-size: $mega-font-size;
        @include on-mobile {
            font-size: $mega-font-size-m;
        };
    }

    // Links
    .bw-links {
        // Link list item styling
        li {
            // Spacing
            margin: 8pt 0pt;
            @include on-mobile {
                margin: 16pt 0pt;
            };

            // Remove bullet point
            list-style: none;
            &:before {
                padding: 0;
                content: none;
            }

            // Link styling
            > a {
                // Make underline (as a border) appear on hover
                text-decoration: none;
                &:hover {
                    border-bottom: 1px solid;
                }

                // Font size
                font-size: $normal-font-size;
                @include on-mobile {
                    font-size: $medium-font-size-m;
                };
            }
        }

        // Dropdown styling
        > li.bw-dropdown {
            // Dropdown caret pointing sideways
            > .bw-dropdown-link::before {
                content:'';
                position: absolute;
                transform: translate(-$spacing-unit, 50%);
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid $white-color;
            }

            // Dropdown caret pointing down
            > .bw-dropdown-link.active::before {
                transform: translate(-$spacing-unit*1.25, 75%);
                border-top: 5px solid $white-color;
                border-right: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid transparent;
            }

            // Dropdown list is invisible to start
            > .bw-dropdown-list {
                display: none;
                list-style: none;
            }
        }
    }

    // Backwhite footer
    .bw-footer {
        color: darken($white-color, 25%);
        text-align: justify;
        font-size: $small-font-size;
        @include on-mobile {
            font-size: $small-font-size-m;
        };
        p {
            text-align: justify;
        }
    }
}
