* {
    font-family: $font-family;
    font-size: $normal-font-size;
    @include on-mobile {
        font-size: $normal-font-size-m;
    };
}


a { color: inherit; }

h1,h2,h3,h4 {
    color: $back-color;
}
h1 {
    display: block;
    padding-bottom: 2pt;
    border-bottom: 1px solid;
    font-size: $large-font-size;
    @include on-mobile {
        font-size: $large-font-size-m;
    };
}
h2 {
    font-size: $medium-font-size;
    @include on-mobile {
        font-size: $medium-font-size-m;
    };
}

ul {
    list-style: none;
    > li:before {
        content: "-";
        margin-right: 8pt;
    }
}
ol {
    list-style: lower-roman;
}

table {
    width: 100%;
    table-layout: fixed;
    padding: 0pt;
    border-spacing: 0;
    th {
        color: $back-color;
    }
    th,td {
        margin: 0pt;
        padding: $spacing-unit;
        text-align: center;
        border-bottom: 0.5pt solid;
        overflow: hidden;
    }
    th:last-child, td:last-child {
        border-right: none;
    }
    tr:last-child > td {
        border-bottom: none;
    }
}
