* {
    font-family: $font-family;
    font-size: $normal-font-size;
    @include on-mobile {
        font-size: $normal-font-size-m;
    };
}

a {
    color: inherit;
    border-bottom: 1px solid $back-color;
    text-decoration: none;
    &:hover {
        border-bottom: none;
    }
}

h1,h2,h3,h4 {
    color: $back-color;
}
h1 {
    display: block;
    padding-bottom: 2pt;
    border-bottom: 1px solid;
    font-size: $large-font-size;
    @include on-mobile {
        font-size: $large-font-size-m;
    };
}
h2 {
    font-size: $medium-font-size;
    @include on-mobile {
        font-size: $medium-font-size-m;
    };
}
h3 {
    font-size: $medium-font-size;
    @include on-mobile {
        font-size: $medium-font-size-m;
    };
}

ul {
    list-style: none;
    > li:before {
        content: "-";
        margin-right: 8pt;
    }
}
ol {
    list-style: lower-roman;
}

table {
    width: 100%;
    table-layout: fixed;
    padding: 0pt;
    border-spacing: 0;
    th {
        color: $back-color;
    }
    th,td {
        margin: 0pt;
        padding: $spacing-unit;
        text-align: center;
        border-bottom: 0.5pt solid $back-color;
        overflow: hidden;
    }
    th:last-child, td:last-child {
        border-right: none;
    }
    tr:last-child > td {
        border-bottom: none;
    }
}

pre {
    display: block;
    padding: 0pt;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    margin-left: 4*$spacing-unit;
}

code {
    font-family: monospace;
    font-weight: 500;
}

blockquote {
    font-size: $medium-font-size;
    @include on-mobile {
        font-size: $medium-font-size-m;
    };
    margin: 0;
    padding: $spacing-unit;
    margin-left: 2*$spacing-unit;
    padding-left: 2*$spacing-unit;
    color: $back-color;
    border-left: 2px solid $back-color;
    text-align: justify;
}
