.bw-menu {
    // Positioning
    position: fixed;
    z-index: -1;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: $desktop-menu-size;

    // Styling
    background-color: $black-color;
    border-color: $white-color;
    color: $white-color;

    // Align text
    text-align: right;

    @include on-mobile {
        top: 0%;
        left: 0%;
        bottom: 0%;
        right: 0%;
        width: 100%;
    };

    // Container
    .bw-menu-container {
        // Positioning
        position: absolute;
        top: 50%;
        left: 0%;
        right: 0%;
        transform: translate(0%, -50%);

        // Text align
        padding: 0pt 8pt;
        text-align: right;
    }

    // Title
    .bw-title {
        display: block;
        padding-bottom: 2pt;
        text-decoration: none;
        border-bottom: 1px solid;
        font-size: $mega-font-size;
        @include on-mobile {
            font-size: $mega-font-size-m;
        };
    }

    // Links
    .bw-links {
        li {
            margin: 8pt 0pt;
            @include on-mobile {
                margin: 16pt 0pt;
            };

            list-style: none;
            &:before {
                padding: 0;
                content: none;
            }
            > a {
                text-decoration: none;
                &:hover {
                    border-bottom: 1px solid;
                }
                font-size: $normal-font-size;
                @include on-mobile {
                    font-size: $medium-font-size-m;
                };
            }
        }
        > li.bw-dropdown {
            > .bw-dropdown-list {
                display: none;
                list-style: none;
            }
        }
    }
}

.bw-content {
    // Positioning
    position: fixed;
    top: 0%;
    left: $desktop-menu-size;
    right: 0%;
    bottom: 0%;
    overflow: scroll;

    // No sliding effect
    transition: none;
    &.slided { transform: none; }

    // Styling
    background-color: $white-color;
    color: $black-color;
    border-color: $black-color;
    box-shadow: -2pt 0pt 8pt darken($black-color, 33%);

    // Mobile
    @include on-mobile {
        // Positioning
        top: 0%;
        left: 0%;
        bottom: 0%;
        right: 0%;

        // Sliding effect
        transition: transform 0.5s ease-in-out;
        &.slided {
            transform: translateX(100%);
        }
    };

    // Container
    .bw-content-container {
        margin-left: 8pt;
        margin-right: 8pt;
    }
}

.bw-toggle {
    // Positioning
    position: fixed;
    z-index: 1;
    bottom: $spacing-unit*2;
    right: $spacing-unit*2;
    background-color: $black-color;
    display: none;

    @include on-mobile {
        display: block;
    };
}
