.bw-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    margin: $spacing-unit 0pt;

    .bw-title {
        flex: 1;
        margin: 0;
        font-size: $large-font-size;
        @include on-mobile {
            font-size: $large-font-size-m;
        };
        color: inherit;
    }

    .bw-action {
        flex: 0;
        background: none;
        border: none;
        color: inherit;
        padding: $spacing-unit/2;
        margin: $spacing-unit/2;
    }
}

.bw-show-on-mobile {
    display: none;
    @include on-mobile {
        display: inline-block;
    }
}

// Grid rows
.bw-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 8pt;

    // Create grid columns
    $col-class-slug: bw-col !default;
    @for $i from 1 to 12 {
        .#{$col-class-slug}-#{$i} {
            grid-column-start: span 12;
            @include on-max {
                grid-column-start: span $i;
            };
        }
    }
}

.bw-text-button {
    border: none;
    background: none;
    display: inline-block;
    color: inherit;
    padding: $spacing-unit;
}
.bw-cutout-button {
    @include cutout;
    border: none;
    display: inline-block;
    transition: box-shadow 0.5s;
    &:hover {
        box-shadow: none;
    }
}
.bw-raised-button {
    @include raised;
    border: none;
    display: inline-block;
    transition: box-shadow 0.5s;
    &:hover {
        box-shadow: none;
    }
}

.bw-cutout {
    @include big-cutout;
}

// Wraps an element with a horizontal scroll bar
.bw-horiz-scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
}

// Basic horizontal rule
.bw-horiz-rule {
    display: block;
    width: 100%;
    border-bottom: 1px solid;
}

// Search bar
.bw-search {
    margin: $spacing-unit 0pt;
    display: flex;

    input[name="q"] {
        flex-grow: 1;
        padding: $spacing-unit/2;
        background-color: inherit;
        color: inherit;
        border: none;
        border-bottom: 1px solid;
        border-radius: 0pt;
    }

    button[type="submit"] {
        flex-grow: 0;
        background-color: inherit;
        color: inherit;
        border: none;
        border-bottom: 1px solid;
        border-color: inherit;
        border-radius: 0pt;
    }
}

.bw-form {
    background-color: inherit;

    .bw-form-row {
        display: flex;
        flex-direction: row;
        background-color: inherit;
        align-items: stretch;

        .bw-input-group {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
            padding: $spacing-unit/2;
            background-color: inherit;

            label {
                flex-grow: 1;
                display: block;
                font-size: $small-font-size;
                color: inherit;
            }

            input {
                display: block;
                width: 100%;
                border: none;
                background: none;
                border-radius: 0pt;
                border-bottom: 1px solid;
                border-color: inherit;
                color: inherit;
                -webkit-appearance: none;
                &:focus {
                    outline: none;
                };
            }

            select {
                display: block;
                width: 100%;
                border: none;
                background: none;
                border-radius: 0pt;
                background-color: inherit;
                border-bottom: 1px solid;
                border-color: inherit;
                color: inherit;
                -webkit-appearance: none;
                &:focus {
                    outline: none;
                }
            }
        }

        .bw-checkbox-group {
            padding: $spacing-unit $spacing-unit/2;
            display: inline-flex;
            align-items: center;
            background-color: inherit;
            color: inherit;

            label {
                margin-right: $spacing-unit/2;
                font-size: small;
                color: inherit;
            }

            input[type="checkbox"] {
                margin: 0;
                margin-left: $spacing-unit/2;
            }
        }

        .bw-file-group {
            flex: 1;
            padding: $spacing-unit/2;
            background-color: inherit;
        }

        .bw-button-group {
            flex: 1;
            padding: $spacing-unit/2;
            text-align: right;
        }
    }
}