.bw-front {
    // Positioning
    position: fixed;
    /* Setting a z-index of 0 to so that
     * this is in front of the back layer
     * with a z-index of -1 (see _back.scss) */
    z-index: 0;
    top: 0%;
    left: $desktop-menu-size;
    right: 0%;
    bottom: 0%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    // No sliding effect
    transition: none;
    &.slided { transform: none; }

    // Styling
    background-color: $white-color;
    color: black;
    border-color: $back-color;
    box-shadow: -2pt 0pt 8pt darken($back-color, 33%);

    // Mobile
    @include on-max {
        left: $desktop-menu-size-x;
    };
    @include on-mobile {
        // Positioning
        top: 0%;
        left: 0%;
        bottom: 0%;
        right: 0%;

        // Sliding effect
        transition: transform 0.5s ease-in-out;
        &.slided {
            transform: translateX(100%);
        }
    };

    // Container
    .bw-front-container {
        margin-left: $spacing-unit;
        margin-right: $spacing-unit;
        padding: $spacing-unit;
    }
}
