.bw-front {
    // Positioning
    position: absolute;

    /* Setting a z-index of 0 to so that
     * this is in front of the back layer
     * with a z-index of -1 (see _back.scss) */
    z-index: 0;
    top: 0%;
    left: $desktop-menu-size;
    right: 0%;
    overflow-y: hidden;
    overflow-x: hidden;

    // No sliding effect
    transition: none;
    &.slided { transform: none; }

    // Styling
    background-color: $white-color;
    color: black;
    border-color: $back-color;
    box-shadow: -2pt 0pt 8pt darken($back-color, 33%);

    // Mobile
    @include on-max {
        left: $desktop-menu-size-x;
    };
    @include on-mobile {
        // Positioning
        top: 0%;
        left: 0%;
        right: 0%;

        // Sliding effect
        transition: margin-left 0.5s ease-in-out;
        &.slided {
            margin-left: 100%;
        }
    };

    // Container
    .bw-front-container {
        margin-left: $spacing-unit;
        margin-right: $spacing-unit;
        padding: $spacing-unit;
    }

    .bw-front-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid;
        margin: $spacing-unit 0pt;

        .bw-front-title {
            flex: 1;
            margin: 0;
        }

        .bw-goback {
            flex: 0;
            background: none;
            border: none;
            padding: $spacing-unit/2;
            margin: $spacing-unit/2;
            display: none;
            @include on-mobile {
                display: inline-block;
            }
        }
    }
}
