// Responsive blocks
@mixin on-mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}
@mixin on-max {
    @media only screen and (min-width: $max-width) {
        @content;
    }
}

// Back bois
@mixin back-boi {
    background-color: $back-color;
    color: $white-color;
    box-shadow: inset 0px 0pt 8pt darken($back-color, 33%);
    padding: $spacing-unit;
}
@mixin big-back-boi {
    @include back-boi;
    display: block;
    margin: 0;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    padding: 2*$spacing-unit;
}