.bw-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 8pt;

    // Create grid columns
    $col-class-slug: bw-col !default;
    @for $i from 1 to 12 {
        .#{$col-class-slug}-#{$i} {
            grid-column-start: span 12;
            @include on-max {
                grid-column-start: span $i;
            };
        }
    }
}
