.bw-toggle {
    // Positioning
    position: fixed;
    z-index: 1;
    bottom: $spacing-unit*3;
    right: $spacing-unit*3;
    background-color: $black-color;
    border: none;
    display: none;
    padding: 10pt;

    .bw-hamburger {
        position: relative;
        display: block;
        width: 35px;
        height: 30px;

        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background-color: white;
            transform: translateY(-50%);
            transition: 0.5s ease-in-out;
            &:nth-child(1) { top: 10%; }
            &:nth-child(2) { top: 50%; }
            &:nth-child(3) { top: 90%; }
        }
    }

    &.active {
        .bw-hamburger {
            span {
                &:nth-child(1), &:nth-child(3) { width: 75%; }
                &:nth-child(2) { opacity: 0; }
                &:nth-child(1) {
                    transform: rotate(45deg) translateX(20%);
                }
                &:nth-child(3) {
                    transform: rotate(-45deg) translateX(20%);
                }
            }
        }
    }

    @include on-mobile {
        display: block;
    };
}
