// Positioning
$desktop-menu-size: 30%;
$desktop-menu-size-l: 20%;
$spacing-unit: 8pt;

// Large font size
$mega-font-size: 30pt;
$large-font-size: 25pt;
$medium-font-size: 16pt;
$normal-font-size: 14pt;

// Normal font size
$mega-font-size: 30pt;
$large-font-size: 25pt;
$medium-font-size: 16pt;
$normal-font-size: 14pt;

// Responsive font size
$mega-font-size-m: 40pt;
$large-font-size-m: 30pt;
$medium-font-size-m: 20pt;
$normal-font-size-m: 14pt;

// Colors
$back-color: #003;
$black-color: #333;
$white-color: #fff;

// Font
$font-family: sans-serif;

// Responsive blocks
$mobile-width: 760px;
@mixin on-mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}
$max-width: 1200px;
@mixin on-max {
    @media only screen and (min-width: $max-width) {
        @content;
    }
}

@import "toggler";
@import "base";
@import "container";
@import "row";
