// Positioning
$desktop-menu-size: 200px;
$desktop-menu-size-l: 300px;
$spacing-unit: 8pt;

// Normal font size
$mega-font-size: 30pt;
$large-font-size: 20pt;
$medium-font-size: 14pt;
$normal-font-size: 11pt;
$small-font-size: 8pt;

// Responsive font size
$mega-font-size-m: 30pt;
$large-font-size-m: 20pt;
$medium-font-size-m: 14pt;
$normal-font-size-m: 11pt;
$small-font-size-m: 8pt;

// Colors
$back-color: #003;
$black-color: #333;
$white-color: #fff;

// Font
$font-family: sans-serif;

// Responsive blocks
$mobile-width: 760px;
@mixin on-mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}
$max-width: 1200px;
@mixin on-max {
    @media only screen and (min-width: $max-width) {
        @content;
    }
}

@import "toggler";
@import "base";
@import "container";
@import "row";
