// Positioning
$spacing-unit: 8pt;
$border-radius: 5pt;

// Side menu size
$desktop-menu-size: 300px;
$desktop-menu-size-x: 400px;

// Normal font size
$mega-font-size: 30pt;
$large-font-size: 20pt;
$medium-font-size: 14pt;
$normal-font-size: 11pt;
$small-font-size: 8pt;

// Mobile font size
$mega-font-size-m: 30pt;
$large-font-size-m: 20pt;
$medium-font-size-m: 14pt;
$normal-font-size-m: 11pt;
$small-font-size-m: 8pt;

// Colors
$back-color: #333;
$white-color: #fff;

// Font
$font-family: "Calibri Light", "Arial", sans-serif;

// Responsive blocks
$mobile-width: 760px;
@mixin on-mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}
$max-width: 1200px;
@mixin on-max {
    @media only screen and (min-width: $max-width) {
        @content;
    }
}

@mixin back-boi {
    background-color: $back-color;
    color: $white-color;
    box-shadow: inset 0px 2px 8px 4px darken($back-color, 33%);
    border-radius: $border-radius;
    padding: $spacing-unit;
}

@mixin big-back-boi {
    @include back-boi;
    display: block;
    margin: 0;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    padding: 2*$spacing-unit;
}

// Imports
@import "toggler";
@import "back";
@import "front";
@import "base";
@import "custom";
